@import "tailwindcss";
@source "../../node_modules/@milejs/core";

html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  tab-size: 4;
}

body {
  margin: 0;
}

/* Richtext */
.bn-container[data-theming-app] .bn-editor {
  padding: 0px;
  border: 0px;
  color: black;
}

.bn-container[data-theming-app] .bn-block {
  margin-bottom: 8px;
}

.bn-container[data-theming-app] .bn-block-content[data-content-type="heading"] {
  font-weight: 700;
  margin-bottom: 14px;
}

.bn-container[data-theming-app]
  .bn-block-content[data-content-type="heading"]
  h1 {
  font-size: var(--font-size-h1, 2rem);
  line-height: var(--line-height-h1, 1.2);
}

.bn-container[data-theming-app]
  .bn-block-content[data-content-type="heading"]
  h2 {
  font-size: var(--font-size-h2, 1.675rem);
  line-height: var(--line-height-h2, 1.3);
}

.bn-container[data-theming-app]
  .bn-block-content[data-content-type="heading"]
  h3 {
  font-size: var(--font-size-h3, 1.475rem);
  line-height: var(--line-height-h3, 1.33);
}

.bn-container[data-theming-app]
  .bn-block-content[data-content-type="heading"]
  h4 {
  font-size: var(--font-size-h4, 1.25rem);
  line-height: var(--line-height-h4, 1.35);
}

.bn-container[data-theming-app]
  .bn-block-content[data-content-type="heading"]
  h5 {
  font-size: var(--font-size-h5, 1.1rem);
  line-height: var(--line-height-h5, 1.36);
}

.bn-container[data-theming-app]
  .bn-block-content[data-content-type="heading"]
  h6 {
  font-size: var(--font-size-h6, 1rem);
  line-height: var(--line-height-h6, 1.37);
}
